.container {
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
}

.item {
  width: 50%;
}

.item-1 {
  padding: 20px;
}

.item-2 {
  background-color: #f6f6f6;
  padding: 20px;
}
