<div class="login-container">
  <div class="section-1">
    <div class="help-area">
      <button class="btn-help">Need Help ?</button>
    </div>
    <div class="icon-area">
      <div class="message-text">
        <span class="message">Hi buddy, I am here to help you!</span>
      </div>
      <img src="../../assets/images/schoolboy.png" />
    </div>
  </div>
  <div class="section-2">
    <h2 class="header-txt">Let's get started</h2>
    <h4 class="login-txt">Login</h4>
    <div class="input-box">
      <label class="input-label"> Username </label>
      <input type="text" class="input-arena" />
      <div class="btn-area">
        <button class="login-btn">Next</button>
      </div>
    </div>
  </div>
  <div class="section-3">
    <footer class="footer-txt">some footer content</footer>
    <div class="footer-img">
      <img
        src="https://learn.mindspark.in/Student/diwali3.82c8fb3538b606952a76.png"
        class="img-light"
      />
    </div>
  </div>
</div>
