<div class="welcome-container">
  <div class="section-1">
    <div class="image-cracker">
      <img class="img-1" src="../../assets/images/firecrack.jpeg" />
    </div>
    <div class="txt-area">
      <div class="some-txt"></div>
      <div class="main-header"></div>
    </div>
  </div>
  <div class="section-2">
    <div class="mobile-tab">
      <div class="mobile-header">List of student names</div>
      <marquee
        direction="up"
        scrolldelay="300"
        behavior="scroll"
        class="scroll-content"
      >
        <div class="list-items">
          <div>Mohamed Ibrahim</div>
          <div>I have secured more marks</div>
        </div>
        <div class="list-items">
          <div>Mohamed Ibrahim</div>
          <div>I have secured more marks</div>
        </div>
        <div class="list-items">
          <div>Mohamed Ibrahim</div>
          <div>I have secured more marks</div>
        </div>
      </marquee>
    </div>
  </div>
</div>
